ASPNETCORE_ENVIRONMENT=Development
API__BASE_URL=http://localhost:5010

QDRANT__TRANSPORT=Rest
QDRANT__ENDPOINT_REST=http://localhost:6333
QDRANT__ENDPOINT_GRPC=http://localhost:6334
QDRANT__APIKEY=
QDRANT__COLLECTION=knowledge_chunks

EMBEDDING__PROVIDER=Mock
EMBEDDING__MODEL=text-embedding-latest
EMBEDDING__DIMENSION=1536

LLM__PROVIDER=Mock
LLM__MODEL=gpt-latest
LLM__ENDPOINT=
LLM__APIKEY=

OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:18889
OTEL_EXPORTER_OTLP_PROTOCOL=grpc
